/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 60vw;
} */

.projects {
  overflow-x: hidden;
  box-sizing: border-box;
  max-width: 60vw;
}

.pwrapper {
  position: relative;
  width: 100vw;
  padding: 24px;
  padding-bottom: calc(20vh - 24px);
}

.psection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 40px);
  margin: 0 auto;
  height: 70vh;
  border-radius: 24px;
  font-size: 60px;
  background-color: teal;
  color: white;
}

#psection1 {
  background-color: #102e76;
  z-index: 0;
}

#psection2 {
  background-color: #1c62a9;
  z-index: 1;
}
#psection3 {
  background-color: #102e76;
  z-index: 2;
}
#psection4 {
  background-color: #1c62a9;
  z-index: 3;
}
#psection5 {
  background-color: #102e76;
  z-index: 4;
}
#psection6 {
  background-color: #1c62a9;
  z-index: 5;
}
.pfixed {
  position: fixed;
}